body
{
  margin: 0;
  padding: 0px;
 padding-bottom: 0px; 
 font-family: ariel,sans-serif;
 background-color: #f2f2f2;
grid-template-columns: 1fr; 
grid-template-rows: 1fr 1fr;
 display: grid; 
/* flex-direction: column; */
min-height: 100vh;
}

body{background-image:url("images/blaknvioletblue.png");}

.container {
display: flex;
flex-direction:column;
min-height: 100vh;
}

header {
  font-size: 40px;
  text-align: center;
  padding-top: 25px;
  color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:blueviolet;
    text-align: center;
    margin-bottom:auto;
  } 


.game-section {
 display: grid;
 width: 300px;
 height: 300px;
 grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin-top: 15px;
  border-radius: 10px;
}

.square {
  height: 100px;
  width: 100px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
margin: 5px;
}

.square.empty:hover {
  background-color: blueviolet;
}


#reset-button{
  display: block;
  margin:  auto;
  background-color: blueviolet;
  color: black;
  cursor: pointer;
  border:#f2f2f2;
}


#reset-button :hover{
background-color: #555;
}

#resetButton{ display: block;
  padding: 1px 6px;
 width: auto;
  background-color: blueviolet;
  color: black;

}


main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 3px;
}


footer { 
  background-color: blueviolet;
  color: rgb(7, 5, 1);
  font-size: 14px;
  padding: 25px;
  text-align: left;
}


#randomCocktail{
  background-color: blueviolet;
  shape-image-threshold:initial;
  border-radius: 5px;
  size: 10px;
}

li{list-style: none;}


form input,
form label
form textarea {
    box-sizing:content-box;
    display: block;
    margin: 3px 0;
    width:100%;
}

img{
  width: 250px;
}
