
html,
body {

      margin: 0;
      padding: 0;
      height: 100%;
      font-family: "Raleway", sans-serif;
      background-color: black;
      color: ghostwhite;
    }


h1{
  font-family: "Dancing Script", cursive;
}

#game-section{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
 margin: top 20px; 
}

.squares{
    display: flex;
    justify-content: center;
    font-size: 48px;
    width: 100px;
    height:100px;
    background-color: lightgray;
    cursor: pointer;
}
.square:not(.empty){
cursor: not-allowed;
}
