/* body
{
  margin: 0;
  padding: 0px;
 padding-bottom: 0px; 
 font-family: ariel,sans-serif;
 background-color: #f2f2f2;
grid-template-columns: 1fr; 
grid-template-rows: 1fr 1fr;
 display: grid; 
/* flex-direction: column; */
/* min-height: 100vh;
}

body{background-image:url("images/blaknvioletblue.png");}

.container {
display: flex;
flex-direction:column;
min-height: 100vh;
}

header {
  font-size: 40px;
  text-align: center;
  padding-top: 25px;
  color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:blueviolet;
    text-align: center;
    margin-bottom:auto;
  } 


.game-section {
 display: grid;
 width: 300px;
 height: 300px;
 grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin-top: 15px;
  border-radius: 10px;
}

.square {
  height: 100px;
  width: 100px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
margin: 5px;
}

.square.empty:hover {
  background-color: blueviolet;
}


#reset-button{
  display: block;
  margin:  auto;
  background-color: blueviolet;
  color: black;
  cursor: pointer;
  border:#f2f2f2;
}


#reset-button :hover{
background-color: #555;
}

#resetButton{ display: block;
  padding: 1px 6px;
 width: auto;
  background-color: blueviolet;
  color: black;

}


main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 3px;
}


footer { 
  background-color: blueviolet;
  color: rgb(7, 5, 1);
  font-size: 14px;
  padding: 25px;
  text-align: left;
}


#randomCocktail{
  background-color: blueviolet;
  shape-image-threshold:initial;
  border-radius: 5px;
  size: 10px;
}

li{list-style: none;}


form input,
form label
form textarea {
    margin: 3px 0;
    width:100%;
    display: 1fr 1fr;
}

img{
  width: 250px;
}

h2,h3,h4{
  display: block;
  text-size-adjust:inherit;
  font-size:large;
 
} */ 


.container{
  display: grid;
  grid-template-columns: 2fr 2fr;
  text-align: center;
}


#inventory{
  padding-right: 75px; 
  text-align: center; 
  font-size: small;
  font-family: 'Times New Roman', Times, serif;

} 

html,
body{
   color: #2d2d2d;
   font-family: Arial, Helvetica, sans-serif;
   margin:0;
   padding:0;
}

body {
   background-image: url("images/blaknvioletblue.png");
 }

h1{ font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif};

header{
   background:#dfd9a2;
   color:rgb(230, 198, 40);
   padding: 20px;
   text-align:center;
}

header h1 {font-size:42px;
   background-color: #dfd9a2;
   background:darkgoldenrod;
   text-align: center;
   margin-top:auto;
}

main {display: grid;
   grid-template-columns: 2fr 2fr;
   margin: 25px auto;
   width: 80%;

}
main a:hover {
color:darkgoldenrod
}

main img {
   border: 3px solid chocolate;
   border: radius 3px;;
   height: 100px;x;
   object-fit:cover;
   object-position: 25%;
   width: 100%;
}

form input,
form label
form textarea {
   box-sizing: border-box;
   display: block;
   margin: 3px 0;
   width:100%;
   
}

footer { 
  background-color: blueviolet;
  color: rgb(7, 5, 1);
  font-size: 14px;
  padding: 25px;
  text-align: left;
}

img{
   width: 250px;
}

ul{list-style-type: none; }

li{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size:small
}

p{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: small;
   font-style: bold;
   background-color: #FEF0B6;
   color:black ;
}

h3{font-style: italic;
   color: gold;

}



img ~ p {
   background-color: #FEF0B6;
   padding: 5px;
   
 }


@media (max-width: 499px) {
   body {display: inline;
     background-color: rgba(233, 171, 101, 0.749) ;}}
